@import "normalize.styl"
@import "global/basic-properties.styl"
@import "global/mixins.styl"
@import "global/variables.styl"
@import "blocks/body.styl"
@import "blocks/container.styl"
@import "blocks/main-header.styl"
@import "blocks/personal-data.styl"
@import "blocks/my-skills.styl"
@import "blocks/js-skill.styl"
@import "blocks/about-me.styl"
@import "blocks/my-plans.styl"
@import "blocks/complet-date.styl"
