/*шрифты и их безопасные аналоги*/
.OpenSans {
  font-family: "OpenSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
}
.OpenSans-Bold {
  font-family: "OpenSans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
}
