/*шрифты и их безопасные аналоги*/

pt-sans(size, line-height, color)
  font-family "PT Sans", "Arial", sans-serif
  font-style normal
  font-weight normal
  font-size size
  line-height line-height
  color color

pt-sans-bold(size, line-height, color)
  font-family "PT Sans", "Arial", sans-serif
  font-style normal
  font-weight bold
  font-size size
  line-height line-height
  color color

courier-new(size, line-height, color)
  font-family "Courier New Regular", "Courier", monospace
  font-style normal
  font-weight normal
  font-size size
  line-height line-height
  color color
