.about-me
  display flex
  flex-direction column
  padding-top 34px

  h2
    pt-sans-bold(24px, 49.83px, bold-text-color)

  p
    pt-sans(15px, 23px, p-color)
    margin 0 0 22px 0

  textarea
    courier-new(30px, 60px, input-text-color)
    border none
    outline none
    resize none
    background transparent url("../img/fullwidth-area.png") -6px 22px
