.main-header
  display flex
  position relative

  &::before
    content ""
    position absolute
    top -14px
    right -61px
    width 252px
    height 106px
    background-image url("../img/sprites/spritesheet.png")
    background-position -5px -200px

.main-header__container-logo
  width 256px

.main-header__container-heading
  padding-top 71px
